body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #000;
  color: white;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
canvas {
  background-color: black;
  width: 360px;
  height: 640px;
}
